{% extends "dashboard.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
    
    </style>
{% endblock %}
{% block content %}
    <div class="grid-container">
       <div class="grid-x">
           <div class="cell">
               <h1>{{title}}</h1>
           </div>
           
           <div class="cell">
                <a href="{{home~'admin/category/create'}}" class="float-right"><i class="fa-3x fas fa-plus-circle"></i>                
                </a>
                <table>
                  <thead>
                    <tr>                      
                      <th width="100">Nom</th>
                      <th width="200">modifier</th>                      
                    </tr>
                  </thead>
                  <tbody>
                   {%for cat in categories%}
                    <tr>                                          
                      <td>{{cat.cat_name}}</td>                      
                      <td><a href="{{home~'admin/category/'~cat.cat_id}}" class="button small">editer</a></td>                      
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>   
           </div>           
       </div>       
   </div>    
{% endblock %}
{% block scripts %}
    {{ parent() }}
    
{% endblock %}