{% extends "dashboard.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css">
    <style type="text/css">
    
    </style>
{% endblock %}
{% block content %}
    <div class="grid-container">
       <div class="grid-x">
           <div class="cell">
               <h1>{{title}}</h1>
           </div>
           <div class="cell">
                <form method="post" enctype="multipart/form-data">                                   
                    <div class="grid-x grid-margin-x">
                     
                      <div class="medium-6 cell">
                        <label>titre
                            <input type="text" name="title" value="{{post.title}}">
                        </label>
                      </div>
                                           
                      <div class="medium-6 cell">
                            <label>Catégorie
                                <select name='cat_id'>
                                    <option value="0">aucune</option>
                                   {% for category in categories %}                                   
                                   <option value="{{category.cat_id}}" {%if post.cat_id == category.cat_id %}selected{%endif%}>{{category.cat_name}}</option>
                                   {% endfor%}                      
                                </select>
                            </label>                          
                      </div>
                      <div class="medium-6 cell">
                            {% set image_url=image.getImage(post.id,'thumbnail') %}
                            {% if image_url %}               
                                <img src="{{image_url}}">                
                            {%endif%}
                      </div>
                      
                    </div>
                    <div class="grid-x grid-margin-x">
                        <div class="medium-6 cell">
                            <label>contenu
                                <textarea name="content">{{post.content}}</textarea>
                            </label>
                        </div>
                        {%if post.id%}
                      <div class="cell">
                            <a href="{{home~'admin/post/'~post.id~'/delete'}}" class="button small alert">supprimer</a>  
                      </div>
                      {%endif%}
                      <div class="cell">
                        <label for="image_upload" class="button">image</label>
                        <input type="file" id="image_upload" class="show-for-sr" name="image">
                      </div>
                      <div class="cell">
                             <input type="submit" class="button">
                      </div>
                    </div>
                </form>
           </div>           
       </div>       
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"></script>
    <script>
        var simplemde = new SimpleMDE({
            autoDownloadFontAwesome:false,
            spellChecker: false,
            toolbar: [{
                name: "bold",
                action: SimpleMDE.toggleBold,
                className: "fas fa-bold",
                title: "Bold",
            },
            {
                name: "italic",
                action: SimpleMDE.toggleItalic,
                className: "fa fa-italic",
                title: "Bold",
            },
            "|",
            {
                name: "heading",
                action: SimpleMDE.toggleHeadingSmaller,
                className: "fa fa-heading",
                title: "Bold",
            }
            
        ],
        });
    </script>
{% endblock %}