{% extends "dashboard.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
    
    </style>
{% endblock %}
{% block content %}
    <div class="grid-container">
       <div class="grid-x">
           <div class="cell">
               <h1>{{title}}</h1>
           </div>
           <div class="cell">
                <form method="post">                                   
                    <div class="grid-x grid-margin-x">
                     <div class="cell">
                            <label>type
                                <select name='type'>
                                   {% for tip in tips %}                                   
                                   <option value="{{tip.singular_name}}" {%if post.type == tip.singular_name %}selected{%endif%}>{{tip.plural_name}}</option>
                                   {% endfor%}                      
                                </select>
                            </label>                          
                      </div>
                      <div class="medium-6 cell">
                        <label>titre
                            <input type="text" name="title" value="{{post.title}}">
                        </label>
                      </div>
                      <div class="medium-6 cell">
                        <label>contenu
                            <textarea name="content">{{post.content}}</textarea>
                        </label>
                      </div>                     
                      <div class="medium-6 cell">
                            <label>Catégorie
                                <select name='cat_id'>
                                   {% for category in categories %}                                   
                                   <option value="{{category.cat_id}}" {%if post.cat_id == category.cat_id %}selected{%endif%}>{{category.cat_name}}</option>
                                   {% endfor%}                      
                                </select>
                            </label>                          
                      </div>
                      {%if post.id%}
                      <div class="cell">
                            <a href="{{home~'admin/'~post.id~'/delete'}}" class="button small alert">supprimer</a>  
                      </div>
                      {%endif%}
                      <div class="cell">
                             <input type="submit" class="button">
                      </div>
                    </div>
                </form>
           </div>           
       </div>       
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    
{% endblock %}