{% extends "base.html.twig" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
{{ parent() }}
<style type="text/css">
</style>
{% endblock %}
{% block content %}
{% set image=images[post.post_id] %}
{% set meta=metas[post.post_id] %}
<div class="grid-container">
    <div class="grid-x">
        <div class="cell">
            <h1>{{title}} templte single portfolio</h1>
        </div>
    </div>
    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell ">
            <h2>{{post.post_title}}</h2>
            <h3>{{post.post_created_date}}</h3>
            {% if image %}
            <img src="{{image['medium']}}" alt="">
            {% endif %}
            <p>{{post.post_content|markdown}}</p>
            {% if meta['youtube'] %}
            <div class="responsive-embed widescreen">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{meta['youtube']}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block scripts %}
{{ parent() }}
{% endblock %}